package ${packageName};

#foreach($import in ${imports})
import $import;
#end

#parse("template/entity/java/comment.vm")

#set($Count = 1)
public interface ${entityName} #if(${interfaces.size()}>0)extends #foreach(${interface} in ${interfaces})#if($Count!=1),#end${interface}#set($Count=$Count+1)#end #end{
 #if(!${isMutable})
    static final int PROTO_CLASS_ID = ${PROTO_CLASS_ID};
 #end##
 #if(${getterMethod})
    #foreach($field in ${fields})
    $!{field.comment}
    #if(${field.isList()})
    java.util.List<${field.decorateType}> get${field.decorateMethod}();
    #else
    ${field.decorateType} get${field.decorateMethod}();
    #end
    #end
 #end
 #if(${setterMethod})
    #foreach($field in ${fields})
    $!{field.comment}
    void set${field.decorateMethod}(#if(${field.isList()}) java.util.List<${field.decorateType}> #else ${field.decorateType} #end value);
    #end
 #end
}
