syntax = "${version}";

option java_package = "${package}";
option java_outer_classname = "${classname}";

#foreach(${import} in ${imports})
import "${import}";
#end

message ${message} {
#set($typeFormat = {"double":"double",
                    "float":"float",
                    "int":"sint32",
                    "long":"sint64",
                    "boolean":"bool",
                    "String":"string",
                    "ByteString":"bytes"})
#set($count = 1)
#if(${hasSupper})##
    ${supperType} super = ${count};
    #set($count = $count+1)
#end
#foreach(${field} in ${fields})
    #if(${field.isList()} == true)
    repeated #if(${field.isEProtoObject()} == true)${field.type}#else$typeFormat.get(${field.type})#end ${field.name} = ${count};
    #elseif(${field.isEProtoObject()} == true)
    ${field.type} ${field.name} = ${count};
    #elseif(${field.isEnum()}==true)
    enum ${field.type}
    {
        #foreach(${item} in ${field.fields})
        ${item.name} = ${item.defaultValue};
        #end
    }
    ${field.type} ${field.name} = ${count};
    #else
    $typeFormat.get(${field.type}) ${field.name} = ${count};
    #end
    #set($count=$count+1)
#end
}
