package ${packageName};

#foreach($import in ${imports})
    import $import;
#end

#parse("templete/entity/java/comment.vm")

public interface ${entityName} #if(${hasInterfaces}==true) extends ${interfaces} #end{
 #if(!${isMutable})
    static final int PROTO_CLASS_ID_ = ${PROTO_CLASS_ID};
 #end

 #if(${getterMethod})
    #foreach($field in ${fields})
    $!{field.comment}
    #if(${field.isList})
    List<${field.wrapperType.simpleName}> ${field.wrapperType.getterMethodName}();
    #else
    ${field.wrapperType.simpleName} ${field.wrapperType.getterMethodName}();
    #end
    #end
 #end
 #if(${setterMethod})
    #foreach($field in ${fields})
    $!{field.comment}
    void ${field.setterMethodName}(#if(${field.isList}) List<${field.wrapperType.fullName}> #else ${field.wrapperType.fullName} #end value);
    #end
 #end
}
